

body {
  background: url('images/background.png') no-repeat center center fixed;
  overflow-x: hidden;
}
.navbar {
  background-color: Turquoise;
  height: 70px;
}
/*The Logo image*/
#logo-img {
  background: url('images/logo.png') no-repeat;
  width: 80px;
  height: 80px;
  margin: 20px 15px 10px 0;
  margin-top: 0px;
}
.navbar-brand {
  padding: 15px;
}
.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: maroon;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 2px;
  margin-left: 0px;
  margin-bottom: 0px;
  line-height: .75em;
}
/*This is to remove the underlined feature*/
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#ourmanna-verse {
    padding: 2px;
    margin: 34px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: black;
    border-radius: 7px;
    color: gold;
    padding-left: 20px;
    width: 100%;
    opacity: .7;
}
#mannaverse {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
#mannaverse-reference:before {
    content: "- ";
}
#mannaverse-reference {
    text-align: right;
    font-size: 14px;
    font-weight: bold;
}
#mannaverse-version {
    color: #ddd;
}
.col-md-4 #God-col, .col-md-4 #scholarships-col, .col-md-4 #education-col, .col-md-4 #legit-col, 
.col-md-4 #winners-col {
  background-color: white;
}
#God-col, #scholarships-col, #education-col, #legit-col, #winners-col {
  border-radius: 7px;
  padding-top: -35px;
}
#God-col h2, #scholarships-col h2, #education-col h2, #legit-col h2, #winners-col h2 {
  background-color: gold;
  width: 100%;
  border-radius: 7px;
}
#God-col span, #scholarships-col span {
  background-color: gold;
  color: black;
}
#God-col:hover, #scholarships-col:hover {
  box-shadow: 0 1px 5px 1px maroon;
}
#searchbar {
  padding-top: 50px;
}
#member-col h2 {
  background-color: gold;
  width: 100%;
  border-radius: 7px;
  margin: 0px;
  margin-top: 30px;
}
#member-col form {
  background-color: white;
  border-radius: .7;
  color: black;
  font-weight: bold;

}
#member-col > section {
  background-color: white;
  color: green;
  font-weight: bold;
  
}
#account-col {
  background-color: gold;
  color: black;
  width: 100%;
  border-color: black; 
  text-align: center;
  border-radius: 7px;
}
#account-col h2 {
  background-color: gold;
  width: 100%;
  border-radius: 7px;
  margin: 0px;
  margin-top: 30px;
}
.col-md-4 form {
  background-color: white;
  color: black;
  font-weight: bold;
  padding-left: 15px;
}
.col-md-4 section {
  background-color: white;
  color: green;
  font-weight: bold;
  text-align: center;
}
.panel-footer {
  background-color: black;
  opacity: .7;
}
.panel-footer #redemption, .panel-footer #testimonials, .panel-footer #contact {
  color: white;
  font-weight: bold;
  text-align: center;
}
section #africa, section #donation, section #feedback {
   text-align: justify;
   border: 1px solid black;
  border-radius: .5em;
  width: 32%;
  margin: 7px;
  color: black;
}
section #how, section #events, section #children {
   text-align: justify;
   border: 1px solid black;
  border-radius: .5em;
  width: 32%;
  margin: 7px;
  color: black;
}
section #africa:hover, section #donation:hover, section #feedback:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
section #how:hover, section #events:hover, section #children:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
.row #africa span, .row #donation span, .row #feedback span {
 
 text-align: center;
 background-color: black;
 width: 32%;
 color: white;
 font-weight: bold;
 font-size: 20px;
 float: center;
 opacity: .7;
}

.row-2 #how span, .row-2 #events span, .row-2 #children span {
 text-align: center;
 background-color: black;
 color: white;
 width: 32%;
 font-weight: bold;
 font-size: 20px;
 float: center;
 opacity: .7;
}

@media (min-width: 1200px) {
    .jumbotron {
    background: url('images/jumbo_1200.jpg') no-repeat;
    height: 675px;
    box-shadow: 0 0 50px ;
    border: 1px solid;
    padding-top: 0;
  }
}